bindist/
data/*.template
data/audio/
obj/
save/
*.wav
*.mp3
*.ogg
*.slo
*.lo
*.o
*.out
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.exe
cataclysm
cataclysm-launcher
CataclysmWin.*
cataclysmdda-*
debug.log
logg.txt
